/* ALL THE FONTS:  */
/* TITLE: font-family: 'Zen Tokyo Zoo', cursive; 
 TEXT: font-family: 'Space Mono', monospace; */

#title {
    font-family: 'Orbitron', sans-serif;
    font-size: 25px; 
    padding: 5px;
    padding-top: 10px;
    padding-left: 20px;
    color: rgb(0, 0, 0);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 15px;
    border-style: groove;
    border-color: black;
    border-width: 5px;
    
    }

li {
    float: left;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    font-family: 'Space Mono', monospace; 
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
}

.text {
    padding: 14px 16px;
}

#pfp { 
    padding: 4px 4px;
    height: 50px; 
    width: 50px;
}

li a:hover:not(.active) {
    background-color: #b1b1b1;
    border-radius: 15px;
}

.active {
    background-color: #5e5e5e;
    color: rgb(255, 255, 255);
}


:root {
  --background: #a7c7ac;

  --player: #ea1616;
  --player-shadow: #840931;
}

body {
  background-color: var(--background);
  padding-left: 10%;
  padding-right: 10%;
}

.container {
  padding: 1%;
  padding-bottom: 2%;
}

/* Nav Bar */

nav {
  width: 100%;
  overflow: auto;
}

nav a {
  float: left;
  color: white;
  margin-right: 3%;
  text-decoration: none;
  width: 17%; /* Four links of equal widths */
  text-align: center;
  background-color: #85a490;
  color: #d1d4d1;
  text-decoration: none;
  font-size: 3.2rem;
  border-radius: 5px;
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: white;
  font-weight: 600;
}

.navbar a:hover {
  background-color: #000;
}

nav a.active {
  background-color: #556859;
}

section {
  margin-top: 2%;
}
.left {
  float: left;
  background-color: #85a490;
  width: 45%;
  height: 80vh;
  margin-right: 5%;
  border-radius: 10px;
}

.right {
  float: left;
  width: 47%;
  background-color: #85a490;
  height: 80vh;
  border-radius: 10px;
}

*{
  box-sizing: border-box;
}


img{
  display: block;
  height: 300px;
  margin: 0 auto;
}
.colors{
  width: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  margin-top: 60px;

}

svg{
  height: 300px;
  display: block;
  margin: 0 auto;
  width: 300px;
  margin-top: 50px;
}
.colora {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.avatar{ 
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;

}
.welcome { 
    display: flex; 
    flex-direction: column;
    margin-left: 10%;
    margin-top: 3%;
    border-radius: 5px;
    border-color: black;
    width: 30%;
    border-style: groove;
    padding: 10px;
    background-color: white;
    border-width: 4px;
    height:80%; 

}

.everything {
  display: flex; 
  flex-direction: row;
  align-content: center;
}

.user-id { 
    font-family: 'Space Mono', monospace; 
    border-radius: 5px;
    width: 30%;
    margin-left: 5%;
    margin-top: 3%;
    border-radius: 5px;
    border-color: black;
    width: 30%;
    border-style: groove;
    padding: 10px;
    background-color: white;
    border-width: 4px;
    height:100%; 
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#falu{
  background: rgb(126,37,30);
}
#smaragdine{
  background: rgb(25,145,113);
}
#glaucous{
  background: rgb(96,126,175);
}
#sarcoline{
  background: rgb(250,218,170);
}

h1 { 
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}
h2{
    font-family: 'Do Hyeon', sans-serif;
}
h3{
    font-family: 'Space Mono', monospace; 
}
p{
    font-family: 'Space Mono', monospace; 
}
