/* ALL THE FONTS:  */
/* TITLE: font-family: 'Zen Tokyo Zoo', cursive; 
 TEXT: font-family: 'Space Mono', monospace; */

#title {
    font-family: 'Orbitron', sans-serif;
    font-size: 25px; 
    padding: 5px;
    padding-top: 10px;
    padding-left: 20px;
    color: rgb(0, 0, 0);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 15px;
    border-style: groove;
    border-color: rgb(207, 207, 207);
    border-width: 5px;
    
    }

li {
    float: left;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    font-family: 'Space Mono', monospace; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 15px;
}

li a:hover:not(.active) {
    background-color: #54d3c3;
    border-radius: 15px;
}

.active {
    background-color: #bababa;
    color: rgb(255, 255, 255);
}



