<html>
    <head>
        <title>Community Events Board</title>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Orbitron:wght@600&display=swap" rel="stylesheet">
    </head>
    <body>
        <h2>Log in</h2>
        <div>
            <form action="/log" method="POST">
                <label for="name">Name</label>
                <input type="text" name="username">
                <label for="password">Password</label>
                <input type="password" name="password">
                <input type="submit" value="Log In">
            </form>
            <p>No account? <a href="/signup">Sign up.</a></p>
        </div>
    </body>
</html>