<html>
    <head>
        <title>Profile</title>
    </head>
    <body>
      <h1>Profile</h1>

      <div class="nav-bar">
        <ul>
            <li id="title"><i>F I N E X P L O R E</i></a></li>
            <li style="float:right"><a href="/about">About</a></li>
            <li style="float:right"><a href="info.html">Information</a></li>
            <li style="float:right"><a href="timeline.html">Timeline</a></li>
            <li style="float:right"><a href="/smart">Goals</a></li>
            <li style="float:right"><a href="/logout">Log Out</a></li>
            <li style="float:right"><a href="/log">Log In</a></li>
            <li style="float:right"><a href="/signlog">Sign In</a></li>
            <li style="float:right"><a class="active" href="index.html">Home</a></li>
        </ul>
    </div>

     <h1>HEEEEYYY </h1>
    </body>
</html>
