<html>
    <head>
        <title>Sign Up</title>
         <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Orbitron:wght@600&display=swap" rel="stylesheet">
    </head>
    <body>
        <form action="/signlog" method="POST">
            <label for="name">Name</label>
            <input type="text" name="username">
            <label for="password">Password</label>
            <input type="password" name="password">
            <input type="submit" value="Sign Up">
        </form>
    </body>
</html>