<html>

<head>
    <title>Smart</title>
    <link rel="stylesheet" href="../static/css/smart.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/my.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&family=Zen+Tokyo+Zoo&display=swap" rel="stylesheet">
</head>

<body>
    <!---------- NAV BAR  ---------->
    <div class="nav-bar">
        <ul>
            <li id="title"><i>F I N E X P L O R E</i></a></li>
            <li style="float:right"><a href="/about">About</a></li>
            <li style="float:right"><a href="info.html">Information</a></li>
            <li style="float:right"><a href="timeline.html">Timeline</a></li>
            <li style="float:right"><a href="/smart">Goals</a></li>
            <li style="float:right"><a href="/logout">Log Out</a></li>
            <li style="float:right"><a href="/log">Log In</a></li>
            <li style="float:right"><a href="/signlog">Sign In</a></li>
            <li style="float:right"><a class="active" href="index.html">Home</a></li>
        </ul>
    </div>

    <br>
    <br>
    <br>



    <!---------- ACTION CARDS  ---------->

    <main class="page-content">
        <div class="card">
            <div class="content">
                <h2 class="title">Scratchpad</h2>
                <p class="copy">Plan your thoughts out</p>
                <button class="modal-button" href="#myModal4">plan</button>
            </div>
        </div>

        <div class="card">
            <div class="content">
                <h2 class="title">Create Goal</h2>
                <p class="copy">Big or small, goal setting is the first step towards financial security.</p>
                <button class="modal-button" href="#myModal1">create</button>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Current Goals</h2>
                <p class="copy">The past is history. The future is a mystery. Today is a gift, that's why it's called
                    the present.</p>
                <button class="modal-button" href="#myModal2">view</button>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Completed Goals</h2>
                <p class="copy">You accomplished this! Period sis!</p>
                <button class="modal-button" href="#myModal3">reflect</button>
            </div>
        </div>
    </main>
    <!------------- MODALS ------------>

    <!-- MODAL ONE -->
    <!-- The Modal -->
    <div id="myModal1" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">×</span>
                <h2>Create a SMART Goal:</h2>
            </div>
            <div class="modal-body">
                <form method="post" action="/smart">
                    <br>

                    <label for="new_goal">S: Enter your SPECIFIC goal:</label>
                    <input type="text" class="form-text-box" name="new_goal" value="">

                    <br><br>

                    <label for="new_measure">M: How will you MEASURE your goal?</label>
                    <input type="text" class="form-text-box" name="new_measure" value="">

                    <br><br>

                    <label for="new_achieveable">A: Is your goal ACHIEVEABLE?</label> <br>
                    <input type="radio" id="yes" name="new_achieveable" value="yes">
                    <label for="yes">undoubtedly yes</label><br>
                    <input type="radio" id="no" name="new_achieveable" value="no">
                    <label for="no">i'm unsure at this point</label><br>

                    <br><br>

                    <label for="new_realistic">R: Is your goal REALISTIC?</label> <br>
                    <input type="radio" id="yes" name="new_realistic" value="yes">
                    <label for="yes">undoubtedly yes</label><br>
                    <input type="radio" id="no" name="new_realistic" value="no">
                    <label for="no">i'm unsure at this point</label><br>

                    <br><br>

                    <label for="new_time">T: How much TIME will it take to complete your goal?</label>
                    <input type="date" name="new_time" value="">

                    <br><br>

                    <label for="new_time">Add additional notes:</label>
                    <input type="text" class="form-text-box" name="new_time" value="">

                    <br><br>
                    <input type="submit" value="Submit" />
                </form>
            </div>
            <div class="modal-footer">
                <h3>Modal Footer</h3>
            </div>
        </div>
    </div>
    <!-- MODAL 2 -->
    <!-- Trigger/Open The Modal -->
    <!-- The Modal -->
    <div id="myModal2" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">×</span>
                <h2>Current Goals</h2>
                <form action='/smart' method='GET'>
                    <input type="submit" value="Refresh " />
                </form>
            </div>
            <div class="modal-body">
                <form method="post" action='/complete'>
                    <ul id="current">
                        {% for item in current %}
                        <li id="current2"><label><input type="checkbox" value="ON" class="test"
                                    name={{item}} />{{item}}</label></li>
                        {% endfor %}
                    </ul>
                    <div class="modal-footer">
                        <input type="submit" value="Save Changes" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- MODAL 3 -->
    <!-- Trigger/Open The Modal -->
    <!-- The Modal -->
    <div id="myModal3" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">×</span>
                <h2>Completed Goals</h2>
                <form action='/complete' method='GET'>
                    <input type="submit" value="Refresh " />
                </form>
            </div>
            <div class="modal-body">

                {% for goal in complete %}
                <li id="current2">{{goal}}</li>
                {% endfor %}

            </div>
            <div class="modal-footer">
                <h3> Congrats!</h3>
            </div>
        </div>
    </div>
    <!-- MODAL 4 -->
    <!-- Trigger/Open The Modal -->
    <!-- The Modal -->
    <div id="myModal4" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">×</span>
                <h2>Scratchpad- Welcome! Stay here & collect your thoughts :0</h2>
                <form action='/save' method='GET'>
                    <input type="submit" value="Refresh " />
                </form>
            </div>
            <div class="modal-body">
                <form action='/save' method='POST'>
                    <textarea class="scrollabletextbox" name="note">
                        
                        {{note}}

                </textarea>
            </div>
            <div class="modal-footer">

                <input type="submit" value="Save Changes " />
                </form>
            </div>
        </div>
    </div>
    </div>


    <script>
        // Get the button that opens the modal
        var btn = document.querySelectorAll("button.modal-button");

        // All page modals
        var modals = document.querySelectorAll('.modal');
        // Get the <span> element that closes the modal
        var spans = document.getElementsByClassName("close");
        // When the user clicks the button, open the modal
        for (var i = 0; i < btn.length; i++) {
            btn[i].onclick = function (e) {
                e.preventDefault();
                modal = document.querySelector(e.target.getAttribute("href"));
                modal.style.display = "block";
            }
        }
        // When the user clicks on <span> (x), close the modal
        for (var i = 0; i < spans.length; i++) {
            spans[i].onclick = function () {
                for (var index in modals) {
                    if (typeof modals[index].style !== 'undefined') modals[index].style.display = "none";
                }
            }
        }
    </script>
</body>

</html>